.lime-theme.leaflet-control.elevation .background {
  background-color: rgba(156, 194, 34, 0.2);
  border-radius: 5px;
}

.lime-theme.leaflet-control.elevation .axis line,
.lime-theme.leaflet-control.elevation .axis path {
  fill: none;
  stroke: #566b13;
  stroke-width: 2;
}

.lime-theme.leaflet-control.elevation .mouse-drag {
  fill: rgba(99, 126, 11, 0.4);
}

.lime-theme.leaflet-control.elevation .elevation-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: #f8f8f9;
}

.lime-theme.leaflet-control.elevation .elevation-toggle-icon {
  background: url(/images/elevation-lime.png?1ee89d69a93f8dfa3c7b428582e163b7) no-repeat center center;
}

.lime-theme.leaflet-control.elevation .area {
  fill: #9cc222;
}

.lime-theme.leaflet-control.elevation .mouse-focus-line {
  pointer-events: none;
  stroke-width: 1;
  stroke: #101404;
}

.lime-theme.leaflet-control.elevation-collapsed .background {
  display: none;
}

.lime-theme.leaflet-control.elevation-collapsed .elevation-toggle {
  display: block;
}

.lime-theme.height-focus {
  stroke: #9cc222;
  fill: #9cc222;
}

.lime-theme.height-focus.line {
  pointer-events: none;
  stroke-width: 2;
}

.steelblue-theme.leaflet-control.elevation .background {
  background-color: rgba(70, 130, 180, 0.2);
  border-radius: 5px;
}

.steelblue-theme.leaflet-control.elevation .axis line,
.steelblue-theme.leaflet-control.elevation .axis path {
  fill: none;
  stroke: #0d1821;
  stroke-width: 2;
}

.steelblue-theme.leaflet-control.elevation .mouse-drag {
  fill: rgba(23, 74, 117, 0.4);
}

.steelblue-theme.leaflet-control.elevation .elevation-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: #f8f8f9;
}

.steelblue-theme.leaflet-control.elevation .elevation-toggle-icon {
  background: url(/images/elevation-steelblue.png?1bb5c85f9676a503345b06d4395402cb) no-repeat center center;
}

.steelblue-theme.leaflet-control.elevation .area {
  fill: #4682b4;
}

.steelblue-theme.leaflet-control.elevation .mouse-focus-line {
  pointer-events: none;
  stroke-width: 1;
  stroke: #0d1821;
}

.steelblue-theme.leaflet-control.elevation-collapsed .background {
  display: none;
}

.steelblue-theme.leaflet-control.elevation-collapsed .elevation-toggle {
  display: block;
}

.steelblue-theme.height-focus {
  stroke: #4682b4;
  fill: #4682b4;
}

.steelblue-theme.height-focus.line {
  pointer-events: none;
  stroke-width: 2;
}

.purple-theme.leaflet-control.elevation .background {
  background-color: rgba(115, 44, 123, 0.2);
  border-radius: 5px;
}

.purple-theme.leaflet-control.elevation .axis line,
.purple-theme.leaflet-control.elevation .axis path {
  fill: none;
  stroke: #2d1130;
  stroke-width: 2;
}

.purple-theme.leaflet-control.elevation .mouse-drag {
  fill: rgba(74, 14, 80, 0.4);
}

.purple-theme.leaflet-control.elevation .elevation-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: #f8f8f9;
}

.purple-theme.leaflet-control.elevation .elevation-toggle-icon {
  background: url(/images/elevation-purple.png?67bcbe67b5ec32fa5d1020dc2d4651b5) no-repeat center center;
}

.purple-theme.leaflet-control.elevation .area {
  fill: #732c7b;
}

.purple-theme.leaflet-control.elevation .mouse-focus-line {
  pointer-events: none;
  stroke-width: 1;
  stroke: #000;
}

.purple-theme.leaflet-control.elevation-collapsed .background {
  display: none;
}

.purple-theme.leaflet-control.elevation-collapsed .elevation-toggle {
  display: block;
}

.purple-theme.height-focus {
  stroke: #732c7b;
  fill: #732c7b;
}

.purple-theme.height-focus.line {
  pointer-events: none;
  stroke-width: 2;
}

